@media screen and (max-width: 696px) {
  .header__desktop {
    display: none;
  }
  .header__mobile {
    display: flex;
  }
  h1 {
    font-size: 40px;
    letter-spacing: 5px;
  }
  .about__first-para {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about__headshot {
    height: 300px;
  }
  .about__live {
    display: none;
  }
  .contact {
    grid-template-columns: 1fr;
    padding: 20px 0 0 0;
  }
  .contact p {
    font-size: 16px;
    margin: 0;
  }
  .contact img {
    max-width: 200px;
  }
  .contact__section {
    margin-bottom: 40px;
  }
  .new__music {
    top: 70%;
  }
}
