@media screen and (max-width: 696px) {
  #nav__desktop {
    display: none;
  }
  #nav__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  section {
    width: 99%;
    max-height: 70%;
  }
  h1 {
    font-size: 40px;
    letter-spacing: 5px;
  }

  #about__first__paragraph {
    grid-template-columns: 1fr;
  }
  #about__live {
    display: none;
  }

  #contact {
    grid-template-columns: 1fr;
  }
  .contact__section {
    margin-bottom: 30px;
  }

  .new__music {
    top: 60%;
  }

  #social__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
