@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.hiddenFull {
  display: none !important;
}

#background__video {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

/* --------------------------------------------------
NAVIGATION 
-------------------------------------------------- */

#nav__desktop {
  display: flex;
}

#nav__mobile {
  display: none;
}

#nav__desktop,
#nav__mobile {
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.logo {
  height: 60px;
  width: 78px;
}

.btn {
  font-family: "Bebas Neue", cursive;
  font-size: 150%;
}

.nav__btn {
  height: 40px;
  width: 100px;
  transform: skewX(-15deg);
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 0.5s, transform 0.5s;
  cursor: pointer;
}

.nav__btn:hover,
.nav__btn--active {
  background-color: rgb(206, 206, 206);
  transform: skewX(15deg);
}

#mobile__menu {
  position: fixed;
  top: 80px;
  right: 0;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  transition: visibility 0.5s, opacity 0.5s;
}

/* --------------------------------------------------
MODAL BOXES 
-------------------------------------------------- */

section {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  max-width: 1000px;
  max-height: 60%;
  transform: translate(-50%, -45%);
  background-color: white;
  transition: visibility 0.5s, opacity 0.5s;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-y: auto;
}

section::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  padding-top: 15px;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

/* --------------------------------------------------
ABOUT
-------------------------------------------------- */

.underline {
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.295);
  margin: 10px 10% 20px 10%;
}

#about__first__paragraph,
#about__second__paragraph {
  margin: 20px 20px;
  text-align: justify;
}

#about__headshot {
  width: 225px;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: 50% 20%;
}

#about__first__paragraph {
  display: grid;
  grid-template-columns: 1fr 225px;
  column-gap: 20px;
}

#about__live {
  float:left;
  max-width: 400px;
  margin-right: 20px;
}

/* --------------------------------------------------
TOUR DATES 
-------------------------------------------------- */

.bit-top-track-button,
.bit-nav-bar-container,
.bit-rsvp {
  display: none !important;
}

.bit-widget {
  padding-bottom: 0 !important;
}

/* --------------------------------------------------
CONTACT
-------------------------------------------------- */

#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact__section {
  margin: 20px 0;
}

.contact__logo {
  max-height: 200px;
  max-width: 300px;
}

/* --------------------------------------------------
NEW RELEASE 
-------------------------------------------------- */

.new__music {
  position: fixed;
  top: 82%;
  left: -205px;
  height: 100px;
  display: flex;
  opacity: 0.7;
  transition: left 1s, opacity 0.5s;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.new__music:hover {
  opacity: 1;
}

.new__music__moved {
  left: 0;
}

#new__music__btn {
  width: 30px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  writing-mode: vertical-lr;
  text-orientation: sideways;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  cursor: pointer;
}

#music__player {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.album__art {
  height: 90px;
}

#music__info {
  font-size: 14px;
  margin-bottom: 10px;
}

#music__controls {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  padding: 0 10px;
  cursor: pointer;
}

/* --------------------------------------------------
FOOTER 
-------------------------------------------------- */

footer {
  color: rgba(255, 255, 255, 0.575);
  position: fixed;
  width: 100%;
  bottom: 5px;
}

#social__media {
  text-align: center;
}

#social__media li {
  display: inline;
}

.social__icon {
  font-size: 40px;
  margin: 0 20px;
  transition: color 0.5s;
}

.social__media__link {
  color: rgba(255, 255, 255, 0.575);
}

#facebook:hover {
  color: #4267b2;
}

#instagram:hover {
  color: #e1306c;
}

#youtube:hover {
  color: #ff0000;
}

#music-icon:hover {
  color: #1db954;
}
